<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h1 class="text-2xl font-bold mb-4 text-center">Académie des Cadets de la Défense de Nantes</h1>
  <h2 class="text-xl mb-4 text-center">Dossier de Candidature</h2>
  
  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <iframe 
        src="https://asor44nantes-my.sharepoint.com/personal/kevin_andrey_asor44_fr/Documents/2023-2024-Dossier-candidature-academie-cadets-defense-Nantes.pdf" 
        width="100%" 
        height="600px" 
        style="border: none;">
      </iframe>
    </div>
  </div>
</div>
<app-footer-view />
