<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h2 class="text-3xl font-bold mb-8 text-center">Soutenir l'ASOR44</h2>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Cotisation annuelle membres : 20 €</h2>
      <p class="text-gray-700 mb-4">En devenant membre, vous soutenez nos activités et notre mission éducative.</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Dons</h2>
      <p class="text-gray-700 mb-4">L’association des sous-officiers de réserve de Nantes, entité support de l’Académie des cadets de la défense de Nantes, bénéficie du rescrit fiscal et satisfait aux dispositions des articles 200-1-b et 238 bis-1-a du Code général des impôts.</p>
      <p class="text-gray-700 mb-4">Tout don versé, consenti à titre gratuit sans aucune contrepartie, pourra bénéficier d’un reçu fiscal déductible des impôts sur le revenu ou de l’impôt sur les sociétés.</p>
      <p class="text-gray-700 mb-4">Pour une personne physique, un don de 100 € permet une déduction de 66 € sur l’impôt sur le revenu.</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6">
      <h2 class="text-xl font-semibold mb-4">Coordonnées bancaires</h2>
      <p class="text-gray-700 mb-2">VIREMENT</p>
      <p class="text-gray-700 mb-2">ASS SOUS OFF DE RESERVE DE NANTES</p>
      <p class="text-gray-700 mb-2">LA BANQUE POSTALE 20041 01011 0032756N032 24</p>
      <p class="text-gray-700 mb-2">Iban : FR77 2004 1010 1100 3275 6N03 224</p>
      <p class="text-gray-700 mb-2">Bic : PSSTFRPPNTE</p>
      <p class="text-gray-700 mb-2">CHEQUE A L’ORDRE DE ASOR NANTES</p>
      <p class="text-gray-700 mb-2">Expédition à : ASOR NANTES – BP 20921 – 44009 NANTES CEDEX 1</p>
    </div>
  </div>
</div>
<app-footer-view></app-footer-view>
