<app-header></app-header>

<div style="margin-top: 3%;">
  <h2 class="partner">Nos Articles</h2>
  <div class="band">
    <div class="item-1">
      <a href="https://asor44.fr/il-y-a-80-ans-les-bombardements-de-nantes/" class="card">
        <div class="thumb" style="background-image: url(assets/porte_drapeau_cim.jpg);"></div>
        <article>
          <h1>Il y a 80 ans : Les bombardements de Nantes...</h1>
          <p>Détuisaient, les 16 et 23 septembre 1943, le centre de la ville et occasionnant 1 463 tués et plus de 2 500 blessés... </p>
          <span>Publié le 17 septembre 2023</span>
        </article>
      </a>
    </div>
    <div class="item-2">
      <a href="https://asor44.fr/le-recrutement-2023-2024-est-clos/" class="card">
        <div class="thumb" style="background-image: url(assets/beymedias.brightspotcdn.jpg);"></div>
        <article>
          <h1>Le recrutement 2023 - 2024 est clos</h1>
          <p>Le succès entraine une forte demande à laquelle l'Académie des cadets de la défense de Nantes ne peut répondre
            Seulement une cinquantaine de volontaire, aidés par les cadets...
          </p>
          <span>Publié le 2 septembre 2023</span>
        </article>
      </a>
    </div>
    <div class="item-3">
      <a href="https://asor44.fr/la-resistance-vendeenne-honoree/" class="card">
        <div class="thumb" style="background-image: url(assets/IMG_0710-768x1024.jpeg);"></div>
        <article>
          <h1>La Résistance vendéenne honorée</h1>
          <p>Le 30 août, à Dompierre-sur-Yon, à été commémoré le 79e anniversaire des parachutages au profit du Maquis R1 sous la présidence de M.
            François Gillet, maire et des élus. Les livraison...</p>
          <span>Publié le 31 aout 2023</span>
        </article>
      </a>
    </div>
    <div class="item-4">
      <a href="https://asor44.fr/vertou-commemore-la-liberation/" class="card">
        <div class="thumb" style="background-image: url(assets/IMG_2720-1024x768.jpg);"></div>
        <article>
          <h1>Vertou commémore sa Libération</h1>
          <p>A l'invitation de M. Rodolphe Amailland, Maire et Conseiller départemental, cette commune du Sud-Loire a célébré sa libération intervenue fin aout 1944.
            Outre les élus et...</p>
          <span>Publié le 30 aout 2023</span>
        </article>
      </a>
    </div>
    <div class="item-5">
      <a href="https://asor44.fr/il-y-a-79-ans/" class="card">
        <div class="thumb" style="background-image: url(assets/IMG_2163-1536x748.jpg);"></div>
        <article>
          <h1>Il y a 79 ans...</h1>
          <p>Le 12 aout 1994, dans le pronlogement du débarquement du 6 juin en Normandie, Nantes a été libérée par les forces américaine. La
            ville, avant leur débart vers le Sud-Loire,...</p>
          <span>Publié le 13 aout 2023</span>
        </article>
      </a>
    </div>
    <div class="item-6">
      <a href="https://asor44.fr/il-y-a-79-ans/" class="card">
        <div class="thumb" style="background-image: url(assets/IMG_2163-1536x748.jpg);"></div>
        <article>
          <h1>Il y a 79 ans...</h1>
          <p>Le 12 aout 1994, dans le pronlogement du débarquement du 6 juin en Normandie, Nantes a été libérée par les forces américaine. La
            ville, avant leur débart vers le Sud-Loire,...</p>
          <span>Publié le 13 aout 2023</span>
        </article>
      </a>
    </div>
    <div class="item-7">
      <a href="https://asor44.fr/il-y-a-79-ans/" class="card">
        <div class="thumb" style="background-image: url(assets/IMG_2163-1536x748.jpg);"></div>
        <article>
          <h1>Il y a 79 ans...</h1>
          <p>Le 12 aout 1994, dans le pronlogement du débarquement du 6 juin en Normandie, Nantes a été libérée par les forces américaine. La
            ville, avant leur débart vers le Sud-Loire,...</p>
          <span>Publié le 13 aout 2023</span>
        </article>
      </a>
    </div>
  </div>
</div>

<h2 class="partner">Nos partenaires</h2>

<div style="margin-bottom: 5%;" class="band">
  <div class="item-2">
    <a href="https://metropole.nantes.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/1280px-Nantes_logo.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-2">
    <a href="https://www.federation-maginot.com/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/logo-FNAM-1.png); background-size: contain;"></div>
    </a>
  </div>
  <div class="item-3">
    <a href="https://www.facebook.com/DefenseOuest/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/Logo-ZDSO.jpg);background-size: contain"></div>
    </a>
  </div>
  <div class="item-4">
    <a href="https://www.ac-nantes.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/logo_academie_pays_loire.png);background-size: contain"></div>
    </a>
  </div>
  <div class="item-5">
    <a href="https://www.lafcd.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/Logo_cg_44.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-6">
    <a href="https://www.la-france-mutualiste.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/Logo_FCD.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-7">
    <a href="https://www.la-france-mutualiste.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/logo_lfm.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-8">
    <a href="https://www.paysdelaloire.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/Logo_Région_Pays-de-la-Loire.png);"></div>
    </a>
  </div>
  <div class="item-9">
    <a href="https://www.smlh.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/logo_smlh.jpg);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-10">
    <a href="https://www.vendee.fr/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/logo_vendee_h.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-11">
    <a href="https://www.ligueouest-fcd.fr/les-clubs.php" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/LigueOuestClubsDefense.jpg);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-12">
    <a href="https://www.union-federale.com/" class="card">
      <div class="thumb bg-contain bg-center bg-no-repeat h-32" style="background-image: url(assets/Union-Federale.png);background-size: contain;"></div>
    </a>
  </div>


</div>

<app-footer-view/>
