<app-header></app-header>

<body class="text-center">

    <br>
    <h1 class="justify-center text-3xl text-strong"> ASSOCIATION DES SOUS-OFFICIERS DE RÉSERVE DE NANTES</h1>
    <h2 class=""> 14, rue des Rochettes – 44000 NANTES</h2>
    <h2 class=""> B.P. 20 921 – 44 009 NANTES CEDEX 1</h2><br>
    <div class="drapeau-francais h-1 w-full"></div><br>
    <div class="container mx-auto py-8">


        <br>
        <h1 class="justify-center text-3xl text-strong"> STATUTS</h1>
        <br>
        <h2 class="justify-center text-xl text-strong">(modifiés par l’Assemblée Générale Extraordinaire du 13 mars
            2016)</h2><br>


        <div class="drapeau-francais h-1 w-full mt-100"></div>


        <div class="grid grid-cols-2 flex flex-wrap w-full">

            <div class="p-4"><br>Article 1er Nom – Siège social</div>
            <div class="p-4 text-left"> <a> Il est constitué sous le régime de la loi du 1er </a><br>
                <a class="text-left"> juillet 1901, une association qui prend le nom d’ASSOCIATION des SOUS-OFFICIERS de
                    RESERVE de NANTES.</a><br>
                <a>Son siège est au 14, rue des Rochettes – 44000 Nantes (BP 20921 – 44009 Nantes cedex 1).</a><br>
                <a>Son transfert en un autre lieu peut être décidé par le Comité directeur.</a>
                <a>La durée de l’association est illimitée.</a>

            </div>

            <div class="p-4">Article 2 – Objet</div>
            <div class="p-4 text-left">
                <a> L’Association des Sous-Officiers de Réserve de Nantes est une association
                    interarmées de réservistes et anciens réservistes, des armées de Terre, de l’Air, de la Marine, des
                    Services communs et de la Gendarmerie. Elle a pour objet de regrouper des sous-officiers, des
                    officiers-mariniers, des officiers anciens sous-officiers, des militaires du rang, des cadets et
                    toute personne désireuse de servir la défense du pays et fidèle à nos valeurs, qui adhèrent aux
                    présents statuts. </a><br>
                <a>
                    Elle se propose :</a><br>
                <a>2.1 – de militer en toute occasion pour les valeurs que ses membres ont servies sous
                    l’uniforme,</a><br>
                <a>2.2 – d’inciter, dans la mesure de ses moyens, au perfectionnement de l’instruction militaire des
                    réserves,</a><br>
                <a>2.3 – de favoriser le maintien en condition de ses membres par la pratique des activités servant de
                    support aux compétitions de la Confédération ineralliée des sous-officiers de réserve (CISOR ex
                    AESOR) à savoir : le tir, la natation avec obstacles, le parcours d’obstacles ou du combattant, la
                    course d’orientation, le lancer de grenades et le cross ou toute épreuve en faisant l’objet,</a><br>
                <a>2.4 – de recruter des sous-officiers, officiers-mariniers, militaires du rang de réserve et cadets,
                    de favoriser l’engagement citoyen des jeunes intéressés par le volontariat, contribuer par tous les
                    moyens appropriés à diffuser et à renforcer l’esprit de défense dans la Nation,</a><br>
                <a>2.5 – de prêter son concours à l’organisation du service de défense et d’inciter ses membres qui sont
                    dégagés des obligations militaires (D.O.M.) à s’intéresser volontairement aux diverses activités de
                    défense du pays,</a>
                <a>2.6 – de défendre les intérêts moraux et matériels des sous-officiers, officiers mariniers,
                    militaires du rang de la réserve et prendre dans ce dessein toutes initiatives nécessaires,</a><br>
                <a>2.7 – de maintenir et développer entres les membres la fraternelle camaraderie qui doit les
                    unir,</a><br>
                <a>2.8 – de défendre les intérêts et l’image des Armées, de renforcer leur rayonnement et prendre dans
                    ce dessein toutes les initiatives nécessaires, dont celles de s’occuper des jeunes désirant devenir
                    réserviste ou cadet.</a><br>
                <a>2.9 – d’assurer la liaison ou la collaboration entre les amicales ou les associations de réservistes
                    et la FNASOR.</a><br>
            </div>

            <div class="p-4"><br>Article 3 – Principes de fonctionnement – discipline</div>
            <div class="p-4 text-left"><a>Toutes discussions politiques, religieuses ou de personnes sont
                    interdites au sein de l’association.</a>
                <a>
                    Tout membre qui porterait gravement atteinte à l’image de l’association ou de l’armée par ses prises
                    de
                    positions publiques ou qui compromettrait par son comportement l’exercice des missions de
                    l’association
                    ou celles des armées ou qui compromettrait la sécurité des personnes dans le cadre des activités de
                    l’association peut être immédiatement suspendus à titre conservatoire par le président en attendant
                    la
                    réunion du comité directeur. Cette décision lui est immédiatement notifiée par tout moyen Le comité
                    directeur, sur proposition de son président, prend les mesures proportionnées qui s’imposent après
                    avoir
                    entendu le membre concerné dument convoqué. Son absence à la convocation n’empêche pas le comité
                    directeur de prendre une décision. Cette décision lui est immédiatement notifiée.</a>
                <a>
                    L’association s’engage à assurer la liberté d’opinion et à respecter les droits de la défense, en
                    particulier les membres faisant l’objet d’une mesure de radiation ou d’exclusion.</a>
                <a>
                    L’association s’engage à garantir le fonctionnement démocratique de ses organes ainsi que la
                    transparence de sa gestion.</a>
                <a>
                    L’association s’interdit toute discrimination en permettant plus particulièrement l’égal accès des
                    femmes et des hommes aux instances dirigeantes de l’association, et veille au respect des règles de
                    déontologiques du sport définies par le Comité National Olympique et Sportif Français (CNOSF).</a>
                <a>
                    L’association s’engage à faire respecter les règles d’encadrement, d’hygiène et de sécurité
                    applicables aux disciplines pratiquées par ses membres.</a>
            </div>

            <div class="p-4"><br>Article 4 – Adhésion de l’association</div>
            <div class="p-4 text-left"><a>L’association des Sous-Officiers de Réserve de Nantes adhère à la
                    Fédération Nationale des Associations de Sous-Officiers de Réserve (FNASOR) et sa section « Course
                    d’Orientation » à la Fédération Française de Course d’Orientation (FFCO).</a>
                <a>
                    Elle peut adhérer à toute autre fédération nationale ou association sur simple proposition de son
                    comité directeur et après approbation par l’assemblée générale.</a>
            </div>


            <div class="p-4"><br>Article 5 – Administration – Comité directeur</div>
            <div class="p-4 text-left"><a>L’association est administrée par un Comité directeur composé, au moins,
                    de 12 (douze) membres élus à bulletin secret par l’assemblée générale parmi les adhérents, pour une
                    durée de quatre années.</a><br>
                <a>Le Comité directeur élit, dans les 15 (quinze) jours parmi ses membres, pour une durée de quatre
                    années :</a>
                <a>– un président,</a>
                <a>– un vice-président,</a>
                <a>– un secrétaire,</a>
                <a>– un trésorier,</a>
                <a>– un secrétaire – adjoint,</a>
                <a>– un trésorier – adjoint.</a>
                <a> Ils sont rééligibles à leur fonction.</a>
                <a> En cas d’empêchement définitif pour quelle que raison que ce soit de plus de la moitié des membres
                    du comité directeur, le Président convoque dans les plus brefs délais une assemblée générale qui
                    procède à l’élection d’un nouveau comité directeur. Dans l’intervalle, l’association est administrée
                    provisoirement par le Président.</a>
                <a> L’association tient une comptabilité complète de toutes les recettes et de toutes les dépenses.</a>
            </div>

            <div class="p-4"><br>Article 6 – Présidence – Présidence d’honneur</div>
            <div class="p-4 text-left"><a>Le Président doit être obligatoirement sous-officier ou officier-marinier de
                    réserve.</a>
                <a>En cas d’empêchement de la présidence, constaté par le Comité directeur, les fonctions du président
                    sont provisoirement exercées par le vice-président. Si celui-ci est à son tour empêché, ces
                    fonctions sont exercées par le secrétaire.</a>
                <a>En cas d’empêchement majeur ou définitif de la présidence, le Comité directeur se réunit afin de
                    procéder au remplacement et de désigner un président jusqu’à la prochaine mandature.</a>
                <a>Le titre de président d’honneur peut-être attribué aux anciens présidents. Les présidents d’honneur
                    sont membres de droit du comité directeur. Le comité directeur peut leur confier des missions
                    ponctuelles contribuant au rayonnement de l’association ou à son fonctionnement.</a>
            </div>


            <div class="p-4"><br>Article 7 – Fonctionnement du comité directeur</div>
            <div class="p-4 text-left"> <a> Pour favoriser les bonnes volontés et l’implication du plus grand nombre, le
                    Comité directeur peut accepter en son sein des adhérents souhaitant oeuvrer et prendre des
                    responsabilités. </a><br>
                <a> Le Comité directeur peut nommer des délégués et commissaires pour des missions déterminées.</a><br>
                <a> Tout contrat ou convention passé entre le groupement, d’une part, et un administrateur, son conjoint
                    ou un proche, d’autres part, est soumis pour autorisation au Comité directeur et présenté pour
                    information à la plus prochaine assemblée générale.</a><br>
                <a> Le Comité directeur comporte la même représentation de femmes que la composition de
                    l’association.</a>

            </div>

            <div class="p-4"><br>Article 8 – Assemblée générale</div>
            <div class="p-4 text-left"><a>L’assemblée générale est constituée par tous les membres associés.</a>
                <a>Son bureau est celui du comité directeur.</a>
                <a>Elle se réunit une fois par an au moins, elle peut être convoquée en outre par le comité directeur
                    ou sur demande signée du tiers des associés.</a>
                <a>Elle prend connaissance des rapports soumis à son approbation par le comité.</a>
                <a>Elle procède à l’élection des membres renouvelables du comité directeur et se prononce sur les
                    admissions ou exclusions.</a>
                <a>Les décisions sont prises à la majorité.</a>
                <a>Chaque membre peut se faire représenter par un autre membre, mais les mandats doivent être donnés
                    par écrit et nul ne pourra réunir plus de 5 (cinq) mandats.</a>
                <a>Les comptes sont soumis à l’approbation de l’assemblée générale dans un délai inférieur à 6 mois à
                    compter de la clôture de l’exercice.</a>
            </div>

            <div class="p-4"><br>Article 9 – Cotisation</div>
            <div class="p-4 text-left"> <a> Tous les membres de l’association paient une cotisation dont le montant est
                    fixé chaque année par l’assemblée générale.</a>
                <a> Toutefois, sur proposition du président, le comité directeur peut décider de réduire ou d’offrir la
                    cotisation annuelle pour services exceptionnels rendus à l’association.</a>
            </div>

            <div class="p-4">Article 10 – Dissolution</div>
            <div class="p-4 text-left"><a>TLa dissolution ne peut être prononcée que par une assemblée générale
                    spécialement convoquée à cet effet, et par une majorité des deux tiers des membres de
                    l’association.</a><br>
                <a>
                    L’assemblée désigne alors deux liquidateurs auxquels tous les pouvoirs sont donnés.</a><br>

            </div>

            <div class="p-4"><br>Article 11 – Principe du bénévolat</div>
            <div class="p-4 text-left"> <a> Les attributions et les pouvoirs doivent être exercés bénévolement.</a>

            </div>

            <div class="p-4">Article 12 – Règlement intérieur</div>
            <div class="p-4 text-left"><a>Le paiement de la cotisation est obligatoire.</a><br>
                <a>Un règlement intérieur complète les présents statuts. </a>
            </div>

            <div class="p-4">Article 13 – Dispositions finales</div>
            <div class="p-4 text-left"><a>Ces statuts remplacent et annulent les statuts précédents du 17 décembre 1978,
                    modifiés les 27 septembre 1987, 3 décembre 1989, 31 janvier 1999, 16 février 2003, 1er février 2004
                    et 5 février 2006.</a></div>

        </div>
    </div>
</body>

<app-footer-view />

<style>
    .drapeau-francais {
        background: linear-gradient(to right, #0055A4, #ffffff, #ffffff, #EF4135);
        margin-top: -10px;
    }
</style>