<app-header/>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h2 class="text-3xl font-bold mb-8 text-center">Le cérémonial militaire</h2>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <p class="text-gray-700 mb-4">     Les sonnerie et batteries du cérémonial militaire prennent place dans les cérémonies officielles, militaires et parfois civiles, commémoratives ou non, ainsi que dans les prises d’armes. Le choix des sonneries et l’ordre dans lequel elles sont jouées est fixé rigoureusement par des textes officiels établis par l’état-major, et à été publié au journal officiel. Les sonneries de clairon sont différentes des sonneries de trompette.</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Garde-à-vous (Clairon ou Trompette)</h2>
      <p>     Sert au commandement à mettre les soldats au garde-à-vous, notamment au cours d’une prise d’armes. Utilisée également dans le cérémonial civil, cette sonnerie sert alors comme un signal requérant l’attention des participants à un événement imminent, par exemple à une remise de décoration.</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Au drapeau (Clairon), A l'étendard (Trompette)</h2>
      <h5 class="text-xs font-semibold mb-4">Suivit du refrain de la Marseilleise</h5>
      <p>     Sert à rendre les honneurs aux emblèmes nationaux officiels, notamment pour la cérémonie des couleurs (levée ou descente). Dans les armes dotées de la trompette de cavalerie (arme blindée cavalerie, artillerie et train), l’emblème national est l’étendard, d’où le nom de la sonnerie et batterie équivalente qu’on trouve dans ces armes.
      <br>
        En cas de présence, dans une même cérémonie, d’un drapeau et d’un étendard, c’est la sonnerie Au drapeau qui est interprétée.
      </p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Au champs (Clairon), La marche sur l'honneur (Trompette)</h2>
      <p>     Sert à rendre les honneurs aux généraux de corps d’armée (quatre étoiles) et d’armée (cinq étoiles), aux vice-amiraux d’escadre (quatre étoiles) et aux amiraux (cinq étoiles), ainsi qu’aux hautes personnalités civiles (chefs d’Etat et de gouvernement), au moment de leur arrivée ou de leur départ. Elle est généralement sonnée plusieurs fois.</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Rappel de pied ferme (Clairon), Rappel pour l'honneur (Trompette),</h2>
      <p>     Sert à rendre les honneurs aux généraux de brigade (deux étoiles) et de division (trois étoiles), ainsi qu’aux contre-amiraux (deux étoiles) et aux vice-amiraux (trois étoiles).</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Ouvrez le ban et fermez le ban  (Clairon) ou (Trompette Ouvrez... Fermez...),</h2>
      <p>     Ces deux sonneries servent à officialiser solennellement l’ouverture et la fermeture d’un moment important du cérémonial militaire : remise de décoration, lecture d’un texte officiel, etc. Elles peuvent être exécutées plusieurs fois au cours d’une même cérémonie.</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Aux morts (Clairon) ou (Trompette),</h2>
      <p>     La sonnerie <i>Aux morts</i> est jouée au cours de cérémonies commémoratives officielles. Elle sert à rendre hommage aux morts pour la patrie et aux défunts, français ou étrangers honorés officiellement.</p>
    </div>

  </div>
</div>
<app-footer-view/>
