@media screen and (min-width: 1024px) {

  html {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;

  }

  nav {
    width: 100%;

  }

  .header_ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .header_li {
    text-align: center;
  }

  .header_pc {
    display: flex;
  }
  
  .div_header_logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
  }

  .asor44 {
    display: flex;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 400%;
  }

  .logo_asor {
    display: flex;
    width: 85px;
    height: 70px;
  }

  .logo_connection {
    display: flex;
    width: 85px;
    height: 70px;
  }

  .drapeau_francais_blanc {
    background: #FFFFFF;
    width: 100%;
  }

  .drapeau_francais_rouge {
    background: #EF4135;
    width: 100%;
  }

  .drapeau_francais_rouge_gradient {
    background: linear-gradient(to right, #FFFFFF, #EF4135);
    width: 50%;
  }

  .drapeau_francais_bleu_gradient {
    background: linear-gradient(to right, #0055A4, #FFFFFF);
    width: 50%;
  }

  .drapeau_francais_bleu {
    background: #0055A4;
    width: 100%;
  }

  .drapeau_haut {
    display: flex;
    height: 10px;
  }

  .drapeau_bas {
    display: flex;
    height: 3px;
  }


  .hidden_pc {
    display: none;
  }

  .logo_asor {
    display: none;
  }
}





@media screen and (max-width: 767px) {

  html {
    background-color: #D9D9D9;
    font-family: Arial, sans-serif;

  }

  header {
    width: 100%;
  }

  nav {
    width: 50%;
  }


  .logo_asor {
    display: flex;
    width: 70px;
    height: 70px;
  }

  .asor44 {
    text-align: center;
    width: 70%;
    font-size: 200%;
    margin: 5%;
  }

  .header_ul {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
    justify-content: space-between;
  }

  .header_li {
    display: flex;
    margin: 10px;
  }

  .div_header {
    display: flex;
    flex-direction: column;
  }

  .div_header_logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
  }

  .drapeau_francais {
    width: 100%;
    height: 10px;
    margin: 0px;
  }

  .drapeau_francais_blanc {
    background: #FFFFFF;
    width: 100%;
  }

  .drapeau_francais_rouge {
    background: #EF4135;
    width: 100%;
  }

  .drapeau_francais_rouge_gradient {
    background: linear-gradient(to right, #FFFFFF, #EF4135);
    width: 50%;
  }

  .drapeau_francais_bleu_gradient {
    background: linear-gradient(to right, #0055A4, #FFFFFF);
    width: 50%;
  }

  .drapeau_francais_bleu {
    background: #0055A4;
    width: 100%;
  }

  .drapeau_haut {
    display: flex;
    height: 10px;
  }

  .drapeau_bas {
    display: flex;
    height: 3px;
  }

  .logo_connection {
    width: 70px;
    height: 65px;
  }

  .hidden_mobile {
    display: none;
  }

  .info_login {
    font-size: 100%;
  }

}