<!DOCTYPE html>
<html>

<head>
  <title>Mon Site Web</title>

</head>

<body>
  <header>
    <div class="header_pc">
      <div class="div_header_logo">
        <img src="../../../../assets/logo-asor44.png" alt="Logo asor44" class="logo_asor">
        <h1 class="asor44">A. S. O. R. 44</h1>
      </div>
      <div class="div_header">
        <img src="../../../../assets/log_fond_remove.png" alt="Logo_connection" class="logo_connection">
      </div>
    <div class="div_header">
      <p class="info_login hidden_pc">grade, nom prenom ou rien si deco</p>
    </div>
    </div>
  </header>


  <nav>
    <div class="drapeau_haut">
      <div class="drapeau_francais_bleu"></div>
      <div class="drapeau_francais_bleu_gradient"></div>
      <div class="drapeau_francais_blanc"></div>
      <div class="drapeau_francais_rouge_gradient"></div>
      <div class="drapeau_francais_rouge"></div>
    </div>
    <ul class="header_ul">
      <li class="header_li"><a href="#">Accueil</a></li>
      <li class="header_li"><a href="#">A.S.O.R44</a></li>
      <li class="header_li"><a href="#">Activités</a></li>
      <li class="header_li"><a href="#">La réserve nationale</a></li>
      <li class="header_li"><a href="#">Informations militaires</a></li>
      <li class="header_li"><a href="#">Divers</a></li>
      <li class="header_li"><a href="#">Contact</a></li>
      <li class="header_li"><a href="#">Recherche</a></li>
    </ul>
    <div class="drapeau_bas">
      <div class="drapeau_francais_bleu"></div>
      <div class="drapeau_francais_bleu_gradient"></div>
      <div class="drapeau_francais_blanc"></div>
      <div class="drapeau_francais_rouge_gradient"></div>
      <div class="drapeau_francais_rouge"></div>
    </div>
  </nav>
</body>