<app-header></app-header>

<div class="container mx-auto mt-6 mb-6">
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 justify-center">
    <!-- Card 1 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border mx-4 box">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex justify-between items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Profil Détails
          </h3>
          <button class="text-sm font-medium text-gray-500">
            Update
          </button>
        </div>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Les coordonnées sont fournies ci-dessous.
        </p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Nom
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Doe
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Prénom
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              John
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Email address
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              johndoe@example.com
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Numéro de Téléphone
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              (+33) 6 12 34 56 78
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Code postal
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              35000
            </dd>
            <dt class="text-sm font-medium text-gray-500">
              ville
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Rennes
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Pays
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              France
            </dd>
            <dt class="text-sm font-medium text-gray-500">
              Identifiant
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              kevin.andrey@asor44.fr
            </dd>
            <dt class="text-sm font-medium text-gray-500">
              Mot de passe
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              ********
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border mx-4 box">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex justify-between items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Détails Asor44
          </h3>
          <button class="text-sm font-medium text-gray-500">
            Update
          </button>
        </div>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Les coordonnées sont fournies ci-dessous.
        </p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Grade
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Capitaine
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Cotisation
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              01/01/2024
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Membre
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Président
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              NID
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              1544040270
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Réserve
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              oui
            </dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Armées
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              Terre
            </dd>
          </div>
        </dl>
      </div>
    </div>


    <script>
      const userType = 'cadet' || 'cadre' || 'parents';
      if (userType != 'cadet' || userType != 'cadre' || userType != 'parents') {
        // Hide Card 3 / 4 / 5
        document.querySelector('.box:nth-child(3)').style.display = 'none';
        document.querySelector('.box:nth-child(4)').style.display = 'none';
        document.querySelector('.box:nth-child(5)').style.display = 'none';
      }
    </script>


    <!-- Card 3 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border mx-4 box">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex justify-between items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Dotation
          </h3>
          <button class="text-sm font-medium text-gray-500">
            Update
          </button>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Liste du matériel fourni actuellement en dotation.
          </p>
        </div>
        <div class="px-4 py-4">
          <table class="min-w-full border border-gray-200 divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  photo
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Nom du matériel
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Quantité
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Date de perception
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Date de réintégration
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <!-- Exemple de ligne de données -->
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/musette.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Sac coyotte 45L
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  01/01/2025
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/pantalon-tng.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Pantalon TNG CE
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/rangers-noir.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Rangers
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/t-shirt.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  T-shirt coyotte
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/chemise-f1.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Chemise F1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/chaussettes-bw-vert.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Chaussettes Verte
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  2
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/ceinturon.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Ceinture coyotte
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/polo.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Polo bleu
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/pull.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Pull bleu marine
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/insigne-cadet.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Insigne cadet
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/gallons.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Gallons de poitrine
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/bande-patro.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Bande patronimique
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/chaussure-ceremonie.jpg" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Chaussure de cérémonie
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Pantalon de cérémonie
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Chemise de cérémonie
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Veste de cérémonie
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Ceinture noir
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Chaussettes noir
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Rangers AF
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Ceinturon de combat
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Pantalon treillis F2
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Veste Treillis F2
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Beret et Insigne
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <img src="../../../assets/materiels/" alt="photo" class="h-10 w-10 rounded-full" />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Plastron de cérémonie
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  23/10/2024
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  
                </td>
              </tr>
              <!-- Autres lignes de données -->
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- Card 4 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border mx-4 box">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex justify-between items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Présence
          </h3>
          <button class="text-sm font-medium text-gray-500">
            Justifier une absence
          </button>
          <button class="text-sm font-medium text-gray-500">
            Transmettre une contre-indication au sport
          </button>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Calendrier des présences et absences.
          </p>
        </div>
      </div>
    </div>


    <!-- Card 5 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border mx-4 box w-full max-w-4xl px-8 py-8">
      <div class="px-4 py-5 sm:px-6">
        <div class="flex justify-between items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Demande</h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">Demander du matériel</p>
        </div>
        
        <!-- Formulaire intégré Microsoft Forms -->
        <div class="mt-4">
          <iframe 
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=DjSSWN_-PUakJT5FfQzo-7FCzhC89IZPn9v4KlehttpUMkw4MVMwVllLUUpaUk1CN1VFNVMxWUJKQS4u"
            width="100%" 
            height="600" 
            frameborder="0" 
            marginheight="0" 
            marginwidth="0">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-view></app-footer-view>