<app-header />
<br>
<div class="items-center flex flex-col">
    <h1 class="text-5xl font-bold mb-6 text-center">Les décorations</h1>
    <div class="drapeau-francais h-2 w-1/2 justify-center"></div>
    <br>
    <h2 class="text-3xl font-bold mb-6 text-center">Les ordres nationaux</h2>
    <div class="drapeau-francais h-2 w-1/2 justify-center"></div>
</div>

<div class="w-full flex flex-col items-center">
    <br>
    <h3 class="text-xl font-bold mb-6 text-center">L'ordre national de la légion d'honneur</h3>

    <div class="flex justify-center mb-6 w-full">
        <div class="flex flex-col max-w-xs mx-auto text-center items-center">
            <a class="font-bold mb-2 block">La légion d'honneur</a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/legion_honneur-115x300.png"
                alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">L'ordre de la libération</h3>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Croix de la libération</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/ordredelaliberation-144x300.png" alt="Image 2">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille de la résistance</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Medaille-resistance-136x300.png" alt="Image 3">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">L'ordre national du mérite</h3>

    <div class="flex justify-center mb-6 w-full">
        <div class="max-w-xs mx-auto text-center">
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/ordrenationaldumerite-122x300.png" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h2 class="text-3xl font-bold mb-6 text-center">Les décorations militaires</h2>
    <div class="drapeau-francais h-2 w-1/2"></div><br>

    <div class="flex justify-center mb-6 w-full">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">La médaille militaire</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/medaillemilitaire-125x300.png" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">Les croix</h3>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">14-18</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_de_Guerre_1914_1918-113x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">39-45</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_de_Guerre_1939_1945-121x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">T.O.E</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_de_Guerre_TOE_France_2_citations-123x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Valeur militaire</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_de_la_Valeur_Militaire_France-127x300.png" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h2 class="text-3xl font-bold mb-6 text-center">Les croix du combattant</h2>
    <div class="drapeau-francais h-2 w-1/2"></div><br>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Volontaire 14-18</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_du_combattant_volontaire_1914_18-133x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Volontaire de la résistance</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_du_combattant_de_la_resistance_FRANCE-127x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Volontaire</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_du_combattant_volontaire_France-140x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Croix du combattant</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Croix_du_combattant_FRANCE-129x300.png" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">Les médailles</h3>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille des évadés</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Médaille_des_Évadés-147x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille de la gendarmerie</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/medaillegendarmerie-138x300.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille de l'aéronautique</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Medaille_de_l_Aeronautique_francaise-136x300.png" alt="Image 1">
        </div>
    </div>
    <div class="flex flex-wrap justify-center gap-6 mb-6">

        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille des bléssés de guerre</a><br>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Medaille_des_blesses_2eme_type.jpg" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille des réservistes volontaires de défense et de sécurité
                intérieure</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Médaille_des_réservistes_volontaires_de_défense_et_de_sécurité_intérieure_-_Bronze_-_Avers.jpg"
                alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille de reconnaissance de la Nation</a><br>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Medaille_de_la_Reconnaissance_de_la_Nation_France_AVERS.jpg"
                alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">Les distinctions militaires pour services particuliers</h3>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">La médaille d'honneur du service de santé des armées</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/medaille_service_sante-172x300.png" alt="Image 2">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block"> <br>Opération sentinelle </a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/Sentinelle-143x300.png"
                alt="Image 3">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">La médaille de la défense nationale</h3>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Or</a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/Def_Nat_Or-115x300.png"
                alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Argent</a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/Def_Nat_Ar-136x300.png"
                alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Bronze</a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/Def_Nat_Br-122x300.png"
                alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">La médaille du service militaires volontaires</h3>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Or</a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/SMV_Or-132x300.png"
                alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Argent</a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/SMV_Ar-132x300.png"
                alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Bronze</a>
            <img class="image-centrer rounded-lg shadow-lg" src="../../../assets/medailles/SMV_Br-134x300.png"
                alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h3 class="text-xl font-bold mb-6 text-center">La médaille d'outre-mer</h3>

    <div class="flex justify-center mb-6 w-full">
        <div class="max-w-xs mx-auto text-center">
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Medaille_Outre_Mer-142x300.png" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div><br>
    <h2 class="text-3xl font-bold mb-6 text-center">Les ordres ministériels</h2>
    <div class="drapeau-francais h-2 w-1/2"></div><br>

    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Ordre des palmes académiques</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Chevalier_de_l'ordre_des_Palmes_académiques.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Ordre du mérite agricole</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Chevalier_de_l'ordre_du_mérite_agricole.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Ordre du mérite maritime</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Chevalier_de_l'ordre_du_mérite_maritime.png" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Ordre des arts et des lettres</a>
            <img class="image-centrer rounded-lg shadow-lg"
                src="../../../assets/medailles/Chevalier_de_l'ordre_des_Arts_et_des_Lettres_2.png" alt="Image 1">
        </div>
    </div>
</div>


<app-footer-view />

<style>
    .drapeau-francais {
        background: linear-gradient(to right, #0055A4, #ffffff, #ffffff, #EF4135);
        height: 3px;
    }

    .image-centrer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>