<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h1 class="text-2xl font-bold mb-4 text-center">Académie des Cadets de la Défense de Nantes</h1>
  <h2 class="text-xl mb-4 text-center">Le Code du Cadet</h2>
  
  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <ul>
        <li class="text-gray-700 mb-4 list-disc">Cadet de la défense, j'agis avec honneur et fierté</li>
        <li class="text-gray-700 mb-4 list-disc">Je suis loyal envers mon pays, mes proches, mes formateurs, mes amis.</li>
        <li class="text-gray-700 mb-4 list-disc">Je mets mon honneur à mériter la confiance.</li>
        <li class="text-gray-700 mb-4 list-disc">Je m'engage à servir et aider mon prochain.</li>
        <li class="text-gray-700 mb-4 list-disc">Je suis poli, courtois et généreux.</li>
        <li class="text-gray-700 mb-4 list-disc">J'ai pour force la discipline et la camaraderie.</li>
        <li class="text-gray-700 mb-4 list-disc">Je suis humble et je respecte les biens des autres ainsi que la nature.</li>
        <li class="text-gray-700 mb-4 list-disc">Cadet de la défense, je met en harmonie mes pensées avec mes propos et mes actes.</li>
      </ul>
    </div>
  </div>
</div>
<app-footer-view />