<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h2 class="text-3xl font-bold mb-8 text-center">Porte-Drapeau</h2>

  <div class="w-3/5 mx-auto text-center">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">A l'origine</h2>
      <p class="text-gray-700 mb-4">Dès le 15 juillet 1931, lors son assemblée constitutive,
        André Nicou devenait le premier porte-drapeau de l’Association amicale des sous-officiers
        de réserve de toutes armes des écoles de perfectionnement de Nantes. Il était le premier
        d’une lignée d’anciens combattants issus de la Grande Guerre puis, de la Seconde Guerre
        mondiale, accomplissant cette mission de rayonnement patriotique.</p>

      <h2 class="text-xl font-semibold mb-4">De 1970 aux années 2010</h2>
      <p class="text-gray-700 mb-4">Au début des année 70, une « jeune » génération de sous-officiers de réserve
        arrivait
        et reprenait le flambeau en constituant, à certaines grandes occasions, des gardes d’honneur.</p>
      <p class="text-gray-700 mb-4">La suspension du service national, votée en octobre 1997, allait élargir, avec la
        loi du 22 octobre
        1999 portant organisation de la réserve militaire et du service de défense et son décret d’application du 1er
        décembre 2000, cette mission aux jeunes réservistes opérationnels, militaires du rangs, issus directement du
        monde du monde civil.</p>
      <p class="text-gray-700 mb-4">Dans le même temps, l’arrêté du 21 juin 2001 ouvrait la délivrance du diplôme
        d’honneur
        de porte-drapeau, après trois années au moins de service dans la fonction, aux membres des
        groupements d'officiers, de sous-officiers et des amicales régimentaires.</p>
      <p class="text-gray-700 mb-4">Lycéens, étudiants ou réservistes déjà dans le monde du travail allaient se succéder
        dans
        cette fonction, augmentant dans le même temps, le nombre des sorties d’emblèmes.</p>
      <div class="flex flex-wrap items-center justify-center mx-auto text-center">
        <img class="h-80 mr-5" src="assets/porte-drapeau-1978.jpg">
        <img class="h-80" src="assets/porte-drapeau-1998.jpg">
      </div>
      <br>
      <h2 class="text-xl font-semibold mb-4">Depuis 2017</h2>
      <p class="text-gray-700 mb-4" p>En 2017, nos premiers cadets de la défense prenaient le relais des réservistes
        dans
        l’accomplissement de cette fonction.</p>
      <p class="text-gray-700 mb-4">Outre nos emblèmes, d’autres associations nous confient, ponctuellement ou en
        permanence, leur drapeau.</p>
      <div class="flex flex-wrap items-center justify-center mx-auto text-center">
        <img class="w-4/5 mb-5" src="assets/porte-drapeau-cadet.jpg">
        <img class="w-4/5" src="assets/porte-drapeau-cadet-2.jpg">
      </div>
    </div>
  </div><br>
  <h2 class="text-3xl font-bold mb-8 text-center">Résultat</h2>

  <div class="bg-white rounded-lg shadow-md p-6 mb-8 w-3/5 item-center text-center mx-auto">
    <h2 class="text-xl font-semibold mb-4">De 2001 à 2023</h2>
    <p class="text-gray-700 mb-4">Entre 2001 et 2023, 1630 sorties d’emblèmes ont été effectuées
      à l’occasion de 400 cérémonies par 337 réservistes et cadets de la défense. Parmi eux, 44 ont été
      récompensés par le diplôme d’honneur de porte-drapeau.</p>

    <div class="flex flex-wrap items-center justify-center mx-auto text-center">
      <img class="w-4/5 mb-5" src="assets/porte_drapeau_cim.jpg">
      <img class="w-4/5" src="assets/IMG_2163-1536x748.jpg">
    </div>

  </div>
</div>

<app-footer-view />