<app-header />

<body class="bg-gray-100">

    <div class="container mx-auto p-4">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h1 class="text-2xl font-bold mb-4 justify-center">Le drapeau de la France</h1>
            <p class="mb-4">
                Le drapeau de la France, drapeau tricolore bleu, blanc, rouge, également appelé « drapeau tricolore
                »,
                ou simplement « drapeau français », est l'emblème et le drapeau national de la France sans
                interruption
                depuis 1830. Il a été adopté par les différents empires, monarchies et républiques françaises
                depuis. Il
                est mentionné dans l'article 2 de la Constitution française de 1958. Ce drapeau aux proportions 2:3
                («
                deux tiers », deux pour la hauteur, trois pour la largeur) est composé de trois bandes verticales,
                bleue, blanche et rouge de hauteur et largeur identiques. </p>

            <div class="flex flex-wrap">
                <div class="mr-7"><br><br><br><br>
                    <p class="mb-4">
                        * La chape bleue de Saint-Martin, levée en 507 par Clovis contre les Wisigoths et Charles Martel
                        deux
                        siècles plus tard contre les Sarrazins;
                    </p>
                    <p class="mb-4">
                        * L’oriflamme rouge de Saint-Denis, protecteur de la France, brandi pour la première fois par
                        l’armée
                        royale de Louis en 1124 face à l’invasion germanique et derrière lequel se rangèrent
                        spontanément
                        les
                        premières milices communales, ancêtres de notre réserve ; </p>
                    <p class="mb-4">
                        * Enfin l’étendard blanc de Jeanne d’Arc, symbole de sa virginité, porté au sacre de Charles à
                        Reims
                        le
                        17 juillet 1429.
                    </p>
                </div>
                <img src="../../../assets/Drapeau_de_la_France.png" class="h-64 mb-4 rounded-lg shadow-md ">
            </div>
            <p class="mb-4">
                Notre drapeau est à la fois signe de ralliement, symbole de nos valeurs et l’emblème de notre pays.
                L’emblème de la nation toute entière ; de la France dans son ensemble. Il n’est la propriété de
                personne. Nous l’avons tous en partage.
            </p>
            <p class="mb-4">
                Symbole de notre Pays sachons le respecter et n’oublions jamais le sacrifice de tous ceux qui sont morts
                sous ses couleurs et nous permettent de vivre aujourd’hui sur un territoire de liberté. </p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.4.7/flowbite.min.js"></script>
</body>

<app-footer-view />