<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h2 class="text-3xl font-bold mb-8 text-center">A.S.O.R. 44</h2>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Objet</h2>
      <p class="text-gray-700 mb-4">L’Association des Sous-Officiers de Réserve de Nantes a pour objet de regrouper les
        sous-officiers, officiers-mariniers et les militaires du rang ayant à l’issue d’une carrière ou
        du service national quitté le service actif, ainsi que des volontaires, sans expérience
        militaire préalable, souhaitant œuvrer pour un idéal supérieur :</p>
    </div>

    <h2 class="text-3xl font-bold mb-8 text-center">La défense de la patrie</h2>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">L' A.S.O.R. 44 se propose :</h2>
      <ul>
      </ul>
      <li class="text-gray-700 mb-4 list-disc">De militer en toute occasion pour les valeurs que ses membres ont servies sous
        l’uniforme.</li>
      <li class="text-gray-700 mb-4 list-disc">D’inciter dans la mesure de ses moyens, au perfectionnement de l’instruction
        militaire des réserves.</li>
      <li class="text-gray-700 mb-4 list-disc">De favoriser le maintien en condition de ses membres par la pratique des activités
        servant
        de support aux compétitions de la Confédération ineralliée des sous-officiers de réserve (CISOR
        ex AESOR) à savoir : le tir, la natation avec obstacles, le parcours d’obstacles ou du combattant,
        la course d’orientation, le lancer de grenades et le cross ou toute épreuve en faisant l’objet.</li>
      <li class="text-gray-700 mb-4 list-disc">De recruter des sous-officiers, officiers-mariniers, militaires du rang de réserve
        et cadets, de favoriser l’engagement citoyen des jeunes intéressés par le volontariat, contribuer par tous
        les moyens appropriés à diffuser et à renforcer l’esprit de défense dans la Nation.</li>
      <li class="text-gray-700 mb-4 list-disc">De prêter son concours à l’organisation du service de défense et d’inciter ses
        membres qui sont dégagés des obligations militaires (D.O.M.) à s’intéresser volontairement aux diverses
        activités de défense du pays.</li>
      <li class="text-gray-700 mb-4 list-disc">De défendre les intérêts moraux et matériels des sous-officiers, des
        officiers-mariniers et des militaires du rang de réserve et prendre dans ce dessein toutes initiatives nécessaires.</li>
      <li class="text-gray-700 mb-4 list-disc">De maintenir et développer entre les membres la fraternelle camaraderie qui doit les
        unir.</li>
      <li class="text-gray-700 mb-4 list-disc">De défendre les intérêts et l’image des Armées, de renforcer leur rayonnement et
        prendre
        dans ce dessein toutes les initiatives nécessaires, dont celles de s’occuper des jeunes désirant
        devenir
        réserviste ou cadet.</li>
      <li class="text-gray-700 mb-4 list-disc">D’assurer la liaison ou la collaboration entre les amicales ou les associations de
        réservistes et la FNASOR.</li>

    </div>

<!--    <div class="bg-white rounded-lg shadow-md p-6">-->
<!--      <h2 class="text-xl font-semibold mb-4">Coordonnées bancaires</h2>-->
<!--      <li class="text-gray-700 mb-2">VIREMENT</p>-->
<!--      <p class="text-gray-700 mb-2">ASS SOUS OFF DE RESERVE DE NANTES</p>-->
<!--      <p class="text-gray-700 mb-2">LA BANQUE POSTALE 20041 01011 0032756N032 24</p>-->
<!--      <p class="text-gray-700 mb-2">Iban : FR77 2004 1010 1100 3275 6N03 224</p>-->
<!--      <p class="text-gray-700 mb-2">Bic : PSSTFRPPNTE</p>-->
<!--      <p class="text-gray-700 mb-2">CHEQUE A L’ORDRE DE ASOR NANTES</p>-->
<!--      <p class="text-gray-700 mb-2">Expédition à : ASOR NANTES – BP 20921 – 44009 NANTES CEDEX 1</p>-->
<!--    </div>-->
  </div>
</div>
<app-footer-view />
