<app-header></app-header>

<body class="text-center">

    <br><h1 class="justify-center text-4xl"> Réglement intérieur</h1><br>
    <div class="drapeau-francais h-1 w-full"></div><br>
    <div class="container mx-auto py-8">


        <div class="grid">
            <div class="p-4 w-full text-center h-24 text-2xl"><a class="justify-center "><br>Chapitre 1er : Composition
                    de
                    l'association</a></div><br>
            <div class="drapeau-francais h-2 w-full mt-100"></div>

        </div>

        <div class="grid grid-cols-2">

            <div class="p-4"><br>Article 1er</div>
            <div class="p-4 text-left"> <a> Tout membre n’est inscrit à l’Association qu’après avoir : </a><br>
                <a class="text-left"> • Avoir eu sa carte fédérale.</a><br>
                <a> • Avoir payé sa cotisation de l’année en cours.</a><br>
                <a> Toutefois, les nouvelles adhésions qui auront lieu à partir du 1er octobre seront imputées sur
                    l’année suivante.</a>

            </div>

            <div class="p-4">Article 2</div>
            <div class="p-4 text-left"><a>Tout membre de l’Association dont trois (3) cotisations consécutives
                    sont restées impayées, sera, sur proposition du trésorier et sauf justifications ou motifs valables,
                    déclaré démissionnaire par le comité directeur. Par la suite il aura toutefois le droit de se faire
                    réintégrer en payant les cotisations arriérées dues le jour de sa démission.</a></div>

        </div>

        <div class="grid">
            <div class="p-4 w-full text-center h-24 text-2xl"><a class="justify-center"><br>Chapitre 2 : Administration
                    et
                    fonctionnement </a></div><br>
            <div class="drapeau-francais h-2 w-full"></div>

        </div>
        <div class="grid grid-cols-2">

            <div class="p-4"><br>Article 3</div>
            <div class="p-4 flex text-left"><a>L’administration de l’Association et l’organisation de ses travaux
                    sont confiés au Bureau.</a></div>

            <div class="p-4"><br>Article 4</div>
            <div class="p-4 flex text-left"><a>Le Président, ou à défaut, le Vice-Président est chargé de convoquer
                    le Bureau et l’Assemblée Générale, et de diriger la discussion.</a></div>


            <div class="p-4"><br>Article 5</div>
            <div class="p-4 flex text-left"><a>Le Président, ou à défaut, le Vice-Président est chargé de convoquer
                    le Bureau et l’Assemblée Générale, et de diriger la discussion.</a></div>

            <div class="p-4"><br>Article 6</div>
            <div class="p-4 flex text-left"><a>Le trésorier est chargé des recettes et dépenses, de faire un compte
                    rendu financier et de donner communication à l’Assemblée Générale.</a></div>


            <div class="p-4"><br>Article 7</div>
            <div class="p-4 text-left"> <a> Le Comité directeur s’assemble aussi souvent qu’il est besoin. </a><br>
                <a class="text-left">
                    Les décisions sont prises par le Comité directeur à la majorité absolue des suffrages.</a><br>
                <a>La présence de 8 membres est nécessaire à leur validité.</a><br>
                <a>En cas de partage égal des voix, le président a voix prépondérante.</a>

            </div>

            <div class="p-4"><br>Article 8</div>
            <div class="p-4 flex text-left"><a>Le Président, ou à défaut, le Vice-Président est chargé de convoquer
                    le Bureau et l’Assemblée Générale, et de diriger la discussion.</a></div>


        </div>

        <div class="grid">
            <div class="p-4 w-full text-center h-24 text-2xl"><a class="justify-center"><br>Chapitre 3 : Assemblée
                    Générale</a></div><br>
            <div class="drapeau-francais h-2 w-full"></div>

        </div>

        <div class="grid grid-cols-2">

            <div class="p-4"><br>Article 9</div>
            <div class="p-4 text-left"> <a> La nomination des membres du Bureau se fait lors de l’Assemblée Générale à
                    la majorité absolue des voix des membres présents ou représentés. Si au premier tour, un candidat
                    n’a pas obtenu la majorité absolue, la nomination est faite, séance tenante, à la majorité relative.
                    En cas d’égalité des suffrages, il sera procédé à un second tour de scrutin.</a>

            </div>

            <div class="p-4">Article 10</div>
            <div class="p-4 text-left"><a>Tout membre de l’Association est éligible au Bureau. Les candidatures sont
                    libres et individuelles.</a><br>
                <a>Les candidats sont obligatoirement présents ou représentés à l’Assemblée Générale.</a><br>
                <a>Le dépôt des candidatures sera fait suivant les modalités précisées sur le bulletin annonçant
                    l’Assemblée Générale.</a>
            </div>

        </div>

        <div class="grid">
            <div class="p-4 w-full text-center h-24 text-2xl"><a class="justify-center"><br>Chapitre 4 : Régime
                    financier</a></div><br>
            <div class="drapeau-francais h-2 w-full"></div>

        </div>

        <div class="grid grid-cols-2">

            <div class="p-4"><br>Article 11</div>
            <div class="p-4 text-left"> <a> La cotisation est fixée conformément à l’article 7 des statuts, par décision
                    de l’Assemblée Générale annuelle prise sur proposition du Bureau.</a>

            </div>

            <div class="p-4">Article 12</div>
            <div class="p-4 text-left"><a>Le paiement de la cotisation est obligatoire.</a><br>
                <a>
                    Cependant, la cotisation annuelle peut-être réduite ou offerte en contrepartie d’un investissement
                    ou de services exceptionnels rendus à l’ASOR. Cette décision est effectuée au cas par cas par le
                    comité directeur.</a>
            </div>

            <div class="p-4">Article 13</div>
            <div class="p-4 text-left"><a>Pour chaque année la cotisation est due et peut être perçue à l’issue de
                    l’Assemblée Générale.</a></div>

        </div>
        <div class="grid">
            <div class="p-4 w-full text-center h-24 text-2xl"><a class="justify-center"><br>Chapitre 5 : Moyen d'action
                    de l'association</a></div><br>
            <div class="drapeau-francais h-2 w-full"></div>

        </div>

        <div class="grid grid-cols-2">

            <div class="p-4"><br>Article 11</div>
            <div class="p-4 text-left"> <a> Toutes décisions dans ce domaine sont prises par le Comité directeur qui
                    fixe également le montant des dépenses prises en charge par l’Association ou le montant des frais
                    qui lui seraient remboursables. Les autres moyens d’action sont la parution des brèves sur le site
                    internet, le bulletin d’information ou message via internet.</a>

            </div>
        </div>
        <div class="grid">
            <div class="p-4 w-full text-center h-24 text-2xl"><a class="justify-center"><br>Chapitre 6 :
                    Modifications</a></div><br>
            <div class="drapeau-francais h-2 w-full"></div>
        </div>

        <div class="grid grid-cols-2">

            <div class="p-4"><br>Article 11</div>
            <div class="p-4 text-left"> <a> Le règlement intérieur peut être modifié par l’Assemblée Générale sur
                    proposition du Comité directeur.</a>
            </div>
        </div>
    </div>

    <a>Certifié sincère et véritable</a><br>
    <a>Nantes le 19 Novembre 1972</a><br>
    <a>Modification approuvées le 13 Mars 2016</a>
</body>

<app-footer-view />

<style>
    .drapeau-francais {
        background: linear-gradient(to right, #0055A4, #ffffff, #ffffff, #EF4135);
        margin-top: -10px;
    }
</style>