<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
<app-header/>
<div class="bg-white flex justify-center items-center h-screen">
  <!-- Left: Image -->
  <div class=" h-screen hidden lg:block">
    <img src="assets/2021_05_09_PHOTO_COMMEMORATION-8-MAI-©-DR-4.jpg" alt="Placeholder Image"
      class="object-cover w-full h-full">
  </div>

  <div class="lg:p-36 md:p-52 sm:20 p-8 w-1/2 lg:w-1/2">
    <h1 class="text-2xl font-semibold mb-4">Enregistrement</h1>
    <form action="#" method="POST">

      <!-- Name Input -->
      <div class="mb-4">
        <label for="name" class="block text-gray-600">Nom</label>
        <input type="text" id="text" name="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off">
      </div>

      <!-- First name Input -->
      <div class="mb-4">
        <label for="prenom" class="block text-gray-600">Prénom</label>
        <input type="text" id="text" name="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off">
      </div>

      <!-- Age Input -->
      <div class="mb-4">
        <label for="age" class="block text-gray-600">Date de naissance</label>
        <input type="date" id="age" name="age"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off">
      </div>

      <!-- Email Input -->
      <div class="mb-4">
        <label for="email" class="block text-gray-600">Email</label>
        <input type="email" id="email" name="email"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off">
      </div>
      <!-- Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-gray-600">Mot de passe</label>
        <input type="password" id="password" name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off">
      </div>
      <!-- Register Button -->
      <button type="submit"
        class="bg-black hover:text-blueGray-300 text-white font-semibold rounded-md py-2 px-4 w-full">S'enregistrer</button>
    </form>
    <!-- Sign up  Link -->
    <div class="mt-6 text-blue-500 text-center">
      <a href="/login" class="hover:underline">Connexion</a>
    </div>
  </div>
</div>
<app-footer-view/>