<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h2 class="text-3xl font-bold mb-8 text-center">Le Code du Soldat</h2>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <ul>
        <li class="text-gray-700 mb-4 list-disc">Soldat français, je m’engage à servir mon pays.</li>
        <li class="text-gray-700 mb-4 list-disc">En toutes circonstances, je me conduis avec honneur, courage et
          dignité.</li>
        <li class="text-gray-700 mb-4 list-disc">Toujours disponible et discipliné, je suis exemplaire dans mon
          comportement comme dans ma tenue.</li>
        <li class="text-gray-700 mb-4 list-disc">Respectueux des lois et des règlements, je m’exprime avec la réserve
          qu’exige mon état militaire.</li>
        <li class="text-gray-700 mb-4 list-disc">Loyal à mes chefs et dévoué à mes subordonnés, j’obéis avec confiance
          et je commande avec exigence et bienveillance.</li>
        <li class="text-gray-700 mb-4 list-disc">Membre d’une communauté soudée par l’esprit de corps, je respecte tous
          mes frères d’armes.</li>
        <li class="text-gray-700 mb-4 list-disc">Prêt à l’engagement, je m’entraîne sans relâche et recherche
          l’excellence.</li>
        <li class="text-gray-700 mb-4 list-disc">Au combat, je n’abandonne ni mon arme, ni mes camarades morts ou
          blessés. Maître de ma force, j’agis avec humanité et respecte mon ennemi.</li>
        <li class="text-gray-700 mb-4 list-disc">La mission est sacrée, je l’accomplis jusqu’au bout avec détermination
          et esprit d’initiative.</li>
        <li class="text-gray-700 mb-4 list-disc">Le succès des armes de la France guide mon action.</li>
      </ul>
    </div>
  </div>
</div>
<app-footer-view />