@keyframes slideToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
